<div style="text-align: center;">
    <h3 style="color: rgb(6, 99, 132);">databinding works!</h3>
    <h5><span style="color: rgb(179, 69, 14);">Time:-</span> {{currentTime()}}</h5>

    <h5>Your Name:- {{data.name}},&nbsp;&nbsp;&nbsp;
        Your Age:- {{data.age}},&nbsp;&nbsp;&nbsp;
        Your Department:- {{data.department}},&nbsp;&nbsp;&nbsp;
        Your Server ID:-{{severID}}</h5> <br>

    <button type="button" class="btn btn-primary" (click)="  onbuttonclick()">Click me</button> &nbsp;&nbsp;&nbsp;count is :-
   <span style="color:  rgb(179, 69, 14)">{{count}}</span> <br><br>

    <input type="text" (keyup)="onkeyup($event)"><br><hr>
  
   <app-assi-databinding></app-assi-databinding>
   
</div>